{#
/**
 * @file
 * Olivero's implementation to display a block.
 *
 * Available variables:
 * - layout: String that will determine the layout of the block.
 * - plugin_id: The ID of the block implementation.
 * - label: The configured label of the block if visible.
 * - configuration: A list of the block's configuration values.
 *   - label: The configured label for the block.
 *   - label_display: The display settings for the label.
 *   - provider: The module or other provider that provided this block plugin.
 *   - Block plugin specific settings will also be stored here.
 * - in_preview: Whether the plugin is being rendered in preview mode.
 * - content: The content of this block.
 * - attributes: array of HTML attributes populated by modules, intended to
 *   be added to the main container tag of this template.
 *   - id: A valid HTML ID and guaranteed unique.
 * - title_attributes: Same as attributes, except applied to the main title
 *   tag that appears in the template.
 * - content_attributes: Same as attributes, except applied to the main content
 *   tag that appears in the template.
 * - title_prefix: Additional output populated by modules, intended to be
 *   displayed in front of the main title tag that appears in the template.
 * - title_suffix: Additional output populated by modules, intended to be
 *   displayed after the main title tag that appears in the template.
 *
 * @see template_preprocess_block()
 *
 * @ingroup themeable
 */
#}

{%
  set classes = [
    'block',
    'block-' ~ configuration.provider|clean_class,
    'block-' ~ plugin_id|clean_class,
    layout ? 'layout--' ~ layout|clean_class,
    'modal',
    'micromodal-slide',
  ]
%}

<div class="wrapper">
	<button data-micromodal-trigger="js-modal-01" class="modal__btn">お気に入りリンクを追加</button>
</div>
<div{{attributes.setAttribute('id','js-modal-01').addClass(classes)}} aria-hidden="true">
	<div class="modal__overlay" tabindex="-1" data-micromodal-close>
		<div class="modal__container" role="dialog" aria-modal="true" aria-labelledby="js-modal-01-title">
			<header class="modal__header">
				<h2 class="text-xl text-gray-700" id="js-modal-01-title">
					お気に入りリンク
				</h2>
				<button class="modal__close" aria-label="Close modal" data-micromodal-close></button>
			</header>
			<main class="modal__content" id="js-modal-01-content">
				{{ title_prefix }}
				{% if label %}
					<h2{{title_attributes}}>{{ label }}</h2>
				{% endif %}
				{{ title_suffix }}
				{% block content %}
					{{ content }}
				{% endblock %}
			</main>
			<footer class="modal__footer">
				<button type="button" class="modal__btn" data-micromodal-close aria-label="Close this dialog window">閉じる</button>
			</footer>
		</div>
	</div>
</div>
    <div class="wrapper">
      <button data-micromodal-trigger="js-modal-02" class="modal__btn">モーダルを開く</button>
    </div>

    <div class="modal micromodal-slide" id="js-modal-02" aria-hidden="true">
      <div class="modal__overlay" tabindex="-1" data-micromodal-close>
        <div class="modal__container" role="dialog" aria-modal="true" aria-labelledby="js-modal-02-title">
          <header class="modal__header">
            <h2 class="text-xl text-gray-700" id="js-modal-02-title">
              モーダルウィンドウ
            </h2>
            <button class="modal__close" aria-label="Close modal" data-micromodal-close></button>
          </header>
          <main class="modal__content" id="js-modal-02-content">
            <p>
              サンプルモーダルウィンドウ情報
            </p>
          </main>
          <footer class="modal__footer">
            <button type="button" class="modal__btn" data-micromodal-close aria-label="Close this dialog window">閉じる</button>
          </footer>
        </div>
      </div>
    </div>
